# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.ipynb_checkpoints/

# Large files (too big for GitHub)
pretraining_tweets_en_full.txt

# Environment
.env
.venv
venv/

# IDE
.idea/
.vscode/
*.swp
